# dependencies
node_modules
.pnpm-store

# build output
dist
build
coverage

# environment variables
.env
.env.local
.env.*.local

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# temp
tmp
temp
.cache

# misc
*.tsbuildinfo
